body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    // font-family:Verdana, Geneva, sans-serif;
    font-size:1.2em; 
}
td {
    padding: 10px;
}
tr {
    display: table;
}
table {
    border-collapse: collapse;
    table-layout: fixed; 
    height: 380px;
    display:block;
    overflow-y:auto;
}
table thead {
    position: fixed;
  }
  table th {
    background-color: #f9f9f9;
    font-size: 1.1em;
    font-weight: bold;
    height: 3em;
    padding: 0 5px 0 5px;
  
    border: 1px solid lightgrey; }
  
table#probe-table thead {
    position: fixed;
    z-index: 2; 
}
  
.dummy-row {
    height: 3em;
    display: block; 
}
.emptyTable {
    width: 756px;
    display:inline-block;
    text-align:center;

}
.thRoleWidth {
    min-width: 45px;
}
.thStatusWidth, .hostStatusCell {
    min-width: 90px;
}
.thHostname {
    padding-left: 5px;
    min-width: 140px
}
.textinput {
    border-style:none;
    padding-left:5px;
    padding-right:5px;
    background-color: #eee;
    width: 100%;
}
.textinput:focus {
    background-color: white;
}
  .textinput:hover:not(:focus) {
    background-color: #ccc;
}
.textinput-nofocus {
    border: 1px solid white;
}
.textinput-error {
    outline-style: auto;
    outline-color: red;
    outline-width: 5px;
}
.dropdown {
    min-width: 160px;
    padding: 1px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1px;

}
.dropdown:focus {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.dropdown:hover {
    border: 1px solid blue;
    cursor: pointer;
}
.tdTitles {
    font-weight: bold;
    padding: 10px;
    display: block;
    width: 100px;
}

#installPages {
    position:relative;
}
#navcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top:20px; 
}
#info {
    position:relative;
    top:30px;
    width:100%;
    padding-left: 5px;
    // border: 1px solid rgb(175, 175, 175);
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 3px;
}
.radio-common {
    margin-left:20px;
    width: 150px;
    margin-top: 0px; 
}

.roleTable {
    position: relative; }
  
table.roleTable thead, tr {
    position: relative; }
  
table.roleTable tbody {
    height: 337px;
    display: block;
    overflow-y: auto; }
  
.roleTable td {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey; }
.probe-table td {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey; }
.roleTable tbody tr:hover {
    background-color: #ebf8ff; }
.probe-table tbody:hover {
    background-color: #ebf8ff; }

.thHostInfo, .tdHostInfo  {
    width: 250px;
}

.tdDeleteBtn {
    min-width: 50px;
}
.tdSelector {
    min-width: 35px; 
    text-align: center;
    padding: 0px;
}

.page {
    width:100%;
    height:750px;
    padding: 0 10px;
    // border: 1px solid gray;
    background-color:white;
    z-index: 1;
    overflow-x: hidden;
}
.behind {
    position: absolute;
    width:0;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.bottomRight {
    display: inline-block;
    position:absolute;
    right: 20px;
    bottom: -10px;
}
.nav-button {
    margin-right:20px;
    margin-bottom:20px;
float:right;
}
.nav-button-container {
    position: absolute;
    width:100%;
    bottom: -10px;
}
.indicator:before {
    position:absolute;
    top: -35px;
    left:-40px;
    width: 120px;
    /* border: 1px solid black; */
    color: rgb(48, 48, 48);
    font-size: .9em;
    font-weight: normal;
    content: attr(label-name);
}
.indicator {
    display: inline-block;
    position:relative;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color:white;
    font-size: 1em;
    color: black;
    font-weight: bold;
    line-height: 38px;  /* position text in center of circle */

}
.selectable {
    cursor: pointer;
}
.selected {
    background-color:#39a5dc;
    color: white;
}
.joiner {
    display:inline-block;
    width:100px;
    height:2px;
    font-size:1em;
    border-bottom: 2px solid lightgrey;
}
/* W3CSchools example */
.cbox {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-left: 3px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbox input:checked ~ .checkmark {
    background-color: #39a5dc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "\2713";
    position: absolute;
    color: white;
    font-size:1.8em;
    margin:-5px 3px;;
    display: none; }

/* Show the checkmark when checked */
.cbox input:checked ~ .checkmark:after {
    display: block;
}
.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.spacer {
    width: 50%;
    display:inline-block; 
} 
.leftAligned {
    text-align: left;
    padding-left: 5px;
    padding-right:5px;
}
.textCenter {
    text-align: center;
    padding-left:5px;
    padding-right:5px;
} 
.hostMask {
    width: 100%;
    // padding: 10px;
    // height: 60px;
} 
.separatorLine {
    margin-bottom: 0;
    border-top: 1px solid lightgrey;
    width: 80%;
    height:20px;
    margin-top:15px; 
}
.fact {
    min-width: 50px;
    text-align: center;
}
.capacity {
    min-width: 120px;
    text-align: center;
    line-height: 1.4;
}
.status-msg {
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    margin-left:5px;
}
.error {
    background-color: #D50000;
    color: white;
}
.errorText {
    color: #D50000;
}
.warning {
    background-color: orange;
    color: black;
}
.warningText {
    color: #F57C00;
}
// .warning {
//     background-color: blue;
//     color: white;
//     padding-left:3px;
//     padding-right:3px;
// }
// .warningText {
//     color: blue;
//     font-weight: bold;
// }
.probe-result {
 
    min-width: 90px;
    padding-right: 40px; 
}
.probe-detail {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
    margin-left:40px;
    margin-right: 40px;
}
.scrollX{
    overflow-x: auto;
    width: 100%;
}
.msg {
    display: inline;
    white-space: wrap;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.clickable {
    cursor: pointer;
}

.hiddenTable td{
    border: 0px;
    min-width: 80px;
    padding-left: 3px;
    padding-right: 3px; }
  
  .hiddenTable tr {
    border-bottom: 1px solid #EEEEEE;
    margin-left:60px;
  }
  .hiddenTable tbody {
    height: inherit;
  }
.textInfo {
    position: relative;
    display: inline-block;
}

.textInfo .tooltipContent {
    visibility: hidden;
    white-space: nowrap;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    top: -.4em;
    left: 110%;
}


// this would provide a left-triangle pointing to the content
// .textInfo .tooltipContent::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     right: 100%;
//     margin-top: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent black transparent transparent;
// }

.textInfo:hover .tooltipContent {
    visibility: visible;
}
.modifier {
    position: relative;
    display: inline-block;
    margin-left:10px;
}
.network-container {
    width: 50%;
    display:block;
    float: left;
}
.network-subnets {
    margin-left: 80px; 
    border-top: 2px solid white; 
    margin-top:20px;
    width: 280px;
}
.network-subnets:hover {
    border-top: 2px solid #39a5dc;
}
.network-msgs {
    width: 100%;
    display: block;
    position: relative;
    border-top: 1px solid lightgray;
    margin-top:20px;
    padding:10px 0px;
}
.btn-offset {
    margin-left:-30px;
}
table.skinny-table {
    margin-top:10px;
    height: 32px;
  }
  
  table.skinny-table td {
    min-width:65px;
    padding: 0px;
  
  }
.deploy-summary {
    height:32px;
}
.task-title {
    min-width: 120px;
}
.task-data {
    min-width: 60px;
}
.aligned-right {
    text-align: right;
}
.aligned-top {
    vertical-align: top;
}
table.playbook-table td {
    padding: 0px 5px 0px 5px; }
  table.playbook-table tr {
    margin-top: 10px;
  }
  table.playbook-table {
    height: 140px; }
.update-me {
    display: table-cell;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.padding-sides {
    padding: 0px 5px 0px 5px;
}
// #failures {
//     margin-top: 20px;
//     width: 100%;
//     display: inline-flex; 
// }
  
.failure-table {
    position:relative;
  }
table.failure-table thead,th tr {
    display:block;
    position: relative;
}
table.failure-table th {
    border-left:none;
    border-top: none;
}
table.failure-table tbody {
    display:block;
    height: 278px;
    overflow-y: auto;
}
table.failure-table tbody tr {
    border-bottom: 1px solid lightgrey;
}
table.failure-table tbody td {
    border-right: 1px solid lightgrey;
}
table.failure-table tbody tr:hover {
    background-color: #ebf8ff;;
}
  
.fhost {
    width: 140px;
    min-width:140px 
}
 
.fdetail {
    width: 100%;
}
  
  
.fbtn {
    min-width: 50px;
    text-align: center; 
}

/* handle simple modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  
  .modal-main {
    position: relative;
    background: white;
    width: 60%;
      max-height: 600px;
    top: 50%;
    left: 0;
    margin: 0 auto;
    overflow-y: hidden;
    transform: translateY(-50%); }
  .modal-content-container {
  padding: 10px;
  
   
  }
  .modal-inner {
    margin: 0px 10px 0px 10px;
      overflow-y: auto;
      max-height: 470px;
  }
  
  .display-block {
    display: block; }
  
  .display-inline-block {
    display: inline-block; }
  
  .display-none {
    display: none; }
  
  .modal-close {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
  pre {
    margin: 0; border: none;
    padding: 0;
  }
.code {
    white-space: pre;
    font-family: monospace;
}
.breadcrumb {
    position:relative;
    display: inline-block;
    width:70px;
    height:30px;
    text-align: center;
    padding-left:25px;
    vertical-align: middle;
    line-height: 12px;
}
.breadcrumb:after {
    position:absolute;
    left: 100%;
    top:0%;
    content: ' ';
    width         : 0;
    height        : 0;
    border-left   : 15px solid;
    border-left-color: inherit;
    border-top  : 15px solid transparent;  
    border-bottom : 15px solid transparent;  
    z-index:2;
}
.breadcrumb:before {
    position:absolute;
    left: 100%;
    top:0%;
    content: ' ';
    width         : 0;
    margin-left: 2px; /* offset to get whitespace between consecutive items */
    height        : 0;
    border-left   : 15px solid;
    border-left-color: white;
    border-top  : 15px solid transparent;  
    border-bottom : 15px solid transparent;  
    z-index:1;
}
.green {
    background-color: green;
    border-left-color: green;
    color: white;
}
.grey {
    background-color: lightgrey;
    border-left-color: lightgrey;
    color: darkgrey;
}
.blue {
    background-color: #39a5dc;
    color: white;
    border-left-color: #39a5dc;
}
.red {
    background-color: darkred;
    color: white;
    border-left-color: darkred;
}
.div-center {
    text-align: center;
}
.centered-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: start;
}
.full-width {
    width: 100%;
}
.arrow-dummy {
    display: inline-block;
    width: 10px;
    height: 5px;
    top: -.2em;
}
.arrow-right {
    width: 0;
    height: 0;
    position:relative;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transition: all 0.1s 0.1s;
    border-left: 5px solid darkgray; 
    margin-right:5px;
    top: -.2em;
  }
  
.arrow-right:hover {
    border-left: 5px solid black;
    cursor: pointer; 
}
  
.toggle-reset {
    transform: rotate(0deg); 
}
  
.toggle-down {
    border-left: 5px solid black;
    transform: rotate(90deg); 
}
.sel-container-horizontal {
    width: 200px; }
  
.sel-container-vertical {
    width: 400px;
    margin:10px }
  
.sel-label-vertical {
    width: 190px;
    margin-right: 40px;
    text-align: right; }
  
.sel-label-horizontal {
    text-align: center; }

.radio-label-horizontal {
    width: 200px;
    margin-right: 20px;
    text-align: right;
    vertical-align: top; }
      
.radio-label-vertical {
    position: relative; }
      
.radio-info {
    width: 600px;
    margin-left: 20px;
    display: inline-flex;
}
      
.radio-spacer {
    background-color: black;
    margin-left: 0px;
    margin-top:5px;
    width: 0px;
    content: ''; }
      
.radio-container {
    margin-top:10px; }
table.review-table {
        height:auto;
}
.review-table-label {
    width: 180px;
    font-weight: bold; }
      
.review-table td {
    padding: 5px; }
      
.review-table tr:nth-child(even) {
    background-color: #f5f5f5; }
      
table caption, .host-review-title {
    font-size: 1.3em;
    color: black; }
      
.review-table tbody {
    border: 1px solid darkgray; }
      
.review-table-value {
    width: 120px; }
      
.review-table-container {
    position: relative;
    display:inline-block ;
    vertical-align:top; 
}
.review-table-whitespace {
    width:50px;
    display:inline-block;
}
.align-left {
    text-align: left; }
      
.align-right {
    text-align: right; }
.tab {
    width: 20px;
    display:inline-block;
}
.link {
    color: blue; 
}

.link:hover {
    font-weight:bold;
    cursor: pointer;
}
table#add-hosts {
    height: 150px; 
  }
  table#add-hosts td {
    padding-left:0px;
  }

.notification {
    width:100%;
    height: 60px;
    display: block;
}
.modal-title-bar {
    width: 100%;
    background-color: whitesmoke;
    height: 3em; 
    margin-bottom: 20px;}
.modal-title {
    font-size: 1.3em;
    color: #1C2833;
    padding-left: 10px;
    padding-top:5px;
}
.add-hosts-buttons {
   height:40px;

}
.close-symbol:after {
    content: "\2716";
    color: #1C2833;;
  margin-right:10px;
  font-size:1.8em;
  
    }
   .close-symbol:hover:after {
     cursor:pointer;
     color:black;
   }
.alert-space {
    height: 64px;
    width: 100%;
    display: block;
}
.host-review {
    margin-top: 10px;
    height: 200px;
    width: 1100px;
    display: block; }
  
  table.host-review-table {
    height: 195px;
    margin-top: 10px; }
  
  .host-review-table tr {
    border-top: 1px solid darkgray;
    width: 1085px; }
  
  .host-review-table tr:hover {
    background-color: #ebf8ff; }

.host-review-table-wide {
    width: 170px; }
      
.host-review-table-std {
    width: 150px; }
.clear {
    clear: both;
}
table.runtime-table {
    margin-top: 10px;
    height: 110px; }
  
  table.runtime-table td {
    padding: 5px;
  }
  .runtime-table-spacer {
    width: 90px;
    display: block; }
  
  .runtime-table-label {
    width: 110px; }
  
  .runtime-table-value {
    width: 120px; }
  
  .runtime-table-nbr {
    width: 60px; }
.bold-text {
    font-weight: bold;
}

#deploy-container {
    width: 100%;
    height:320px;
    margin-top:10px;
    overflow-y: hidden;
    border: 1px solid lightgrey;
     }
.deploy-status {
    position: relative;
    width: 100%;
    height: 100%;
}
.task-label {
    display: inline-block;
    width: 120px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 5px; 
    margin-top:5px;
}
.success {
    color: green;
}
.clippy {
    margin-top: -1em;
    margin-left:10px;
    width: 30px;
    height: 30px;
  
}
.clippy:hover {
    color:black;
}